$font-primary: 'Cabin';
$font-bold:'Cabin-Bold';

// Body Font:
@font-face {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Cabin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: $font-bold;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Cabin-Bold.ttf') format('truetype');
  }