@import "./styles/colors";
@import "./styles/fonts";
@import "./styles/responsive";
@import "./styles/sizes";
@import "./styles/layouts";

* {
  margin: 0;
  padding: 0;
}
body {
  background: url(https://wallpapercave.com/wp/wp5095883.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  height: 100vh;
  font-family: $font-primary;
  margin-left: 5px;
  margin-right: 5px;
}
h1 {
  font-size: $title;
  color: $title-color;
}
h2,
h3 {
  font-size: $subtitle;
  color: $title-color;
}
p,
li {
  font-size: $paragraph;
  color: $paragraph-color;
  text-align: center;
}
.menu {
  width: 100%;
  background-color: $header-bg-color;
  .menu__list {
    text-align: center;
    list-style-type: none;
    font-family: $font-bold;
  }
  .menu__navigation-item {
    cursor: pointer;
    padding: 2%;
    &:hover {
      color: $hover-color;
      transform: scale(1.5);
    }
  }
}
/* Efecto cristal o esmerilado */
.container {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}
/* Contenedores de información en experiencia y estudios */
.container__card {
  padding: 10px;
  margin: 5px;
}
.container__main-info {
  @include flexRow;
  height: $header-height + 80px;
  width: max-content;
  margin:auto;
  .container__main-info-image {
      width: 25%;
    img {
      width: 100%;
    }
  }
  .container__main-info-job {
    @include flexColumn;
  }
  .container__title {
    line-height: 1.5em;
  }
}
.container__languages {
  @include flexColumn;
  justify-content: center;
  list-style: none;
  padding: 5px;
}
.container__personal-info {
  @include flexColumn;
  justify-content: center;
  padding: 5px;
}
.container__experience {
  @include flexColumn;
  justify-content: space-evenly;
}
.container__studies {
  @include flexColumn;
  justify-content: space-evenly;
}
.container__skills {
  @include flexColumn;
  padding: 5px;
}
/* Barras de progreso en skills */
progress {
  -webkit-appearance: none; 
  font-size: $subtitle + 2;
  &::-webkit-progress-bar {
   background-color: $header-bg-color;
   border-radius: 9px;
}
  &::-webkit-progress-value {
    background-color: $icons-color;
  }
}
footer {
  @include flexRow;
  justify-content: space-evenly;
  background: $footer-bg-color;
  height: $footer-height;
  text-decoration: none;
  bottom: 0;
  ul {
    @include flexRow;
    list-style: none;
  }
  .fa {
    width: 50px;
    font-size: $title;
    height: 50px;
    line-height: 50px;
    color: $paragraph-color;
    &:hover,
    &:active {
      color: #fff;
      transform: scale(1.5);
    }
  }
}
/* ---------------------TABLET----------------- */
@include tablet {
h1 {
  font-size: $title + 4;
}
h2,
h3 {
  font-size: $subtitle + 2;
}
p,
li {
  font-size: $paragraph + 2;
}
.menu{
  .menu__list {
    @include flexRow;
    height: auto;
  }
  .menu__navigation-item {
    padding:2% 6%;
    &:hover {
      color: #fff;
      transform: scale(1.5);
    }
  }
}
  .container__experience {
    @include flexRow;
  }
  .container__studies {
    @include flexRow;
  }
  .container__skills {
    @include flexColumn;
  }
}
progress {
  font-size: $subtitle + 4;
}
/* ---------------------DESKTOP----------------- */
@include desktop {
  h1 {
    font-size: $title + 6;
  }
  h2,
  h3 {
    font-size: $subtitle + 4;
  }
  p,
  li {
    font-size: $paragraph + 4;
  }
  .menu{
    .menu__list {
    .menu__navigation-item {
      padding: 2% 7%;
        &:hover {
          transform: scale(2);
        }
      }
    }
  }
  progress {
    font-size: $subtitle + 6;
  }
}
